* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    position: absolute;
    width: 460px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    border: none;
    background-color: #fff;
    text-decoration: none;
    top: 750px;
    left: 700px;
    bottom: 90px;
}

body {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
